<div class="panel panel-default">
    <div class="panel-heading">
        <h1></h1>
        <div class="row">
            <img [src]="contact.imageUrl" alt="{{contact.name}}" class="img-responsive" style="min-height: 200px;">

            <span class="pull-right"><a href="#" class="btn btn-primary" role="button">Edit</a><a href="#" class="btn btn-danger" role="button">Delete</a></span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">Email: {{contact.email}}</h4>
                    <h4 class="list-group-item-heading">Phone: {{contact.phone}}</h4>


                </div>
            </div>
        </div>
    </div>
</div>