<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{contact.name}}</h1>
        <div class="media">
            <div class="media-left media-middle">
                <img [src]="contact.imageUrl" alt="{{contact.name}}" class="media-object" style="max-height: 150px;">
            </div>
            <div class="media-body media-middle">
                <div class="pull-right"><a [routerLink]="['/contacts', contact.id, 'edit']" class="btn btn-primary" role="button">Edit</a>
                    <a (click)="onDelete()" class="btn btn-danger" role="button">Delete</a></div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">Email: {{contact.email}}</h4>
                    <h4 class="list-group-item-heading">Phone: {{contact.phone}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>