<div class="panel panel-default">
    <div class="panel-heading">Contacts
        <span class="pull-right"><button class="btn btn-success">New Contact</button></span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{contact.name}}</h4>

                    </div>
                    <span class="pull-right">
                 <img src="{{contact.imageUrl}}" alt="" class="img-responsive" style="max-height: 50px;">
             </span>
                </a>
            </div>
        </div>
    </div>
</div>